<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onCerrarMenu()">
    <mat-icon>home</mat-icon>
    <span class="navagacion-list-label">Inicio</span>
  </a>
  <a mat-list-item routerLink="/registrar" (click)="onCerrarMenu()">
    <mat-icon>how_to_reg</mat-icon>
    <span class="navagacion-list-label">Registrar</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onCerrarMenu()">
    <mat-icon>login</mat-icon>
    <span class="navagacion-list-label">Ingresar</span>
  </a>
</mat-nav-list>
